docs/n8n-workflows/wf-5-status.json
{
  "name": "WF-5: Telegram Command Center (AIPipeline)",
  "active": true,
  "nodes": [
    {
      "id": "tg-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "webhookId": "wf5-telegram-webhook",
      "credentials": {
        "telegramApi": {
          "id": "CumMgGtm8MpeMfxm",
          "name": "AIPipeline Telegram"
        }
      }
    },
    {
      "id": "extract-command",
      "name": "Extract command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "const text = (($json.message && $json.message.text) || '').trim();\nconst [commandRaw, ...rest] = text.split(/\\s+/);\nconst command = (commandRaw || '').toLowerCase();\nconst args = rest.join(' ').trim();\nconst username = $json.message?.from?.username || '';\nconst chatId = $json.message?.chat?.id;\nconst messageId = $json.message?.message_id || '';\nconst updateId = $json.update_id || '';\nreturn [{ json: { command, args, username, chatId, messageId, updateId, raw: text } }];"
      }
    },
    {
      "id": "dedupe-command",
      "name": "Deduplicate command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        -120
      ],
      "parameters": {
        "jsCode": "const db = $getWorkflowStaticData('global');\nif (!db.seen) db.seen = {};\nconst ttlMs = 7 * 24 * 60 * 60 * 1000;\nconst now = Date.now();\nfor (const [k, ts] of Object.entries(db.seen)) {\n  if (!Number.isFinite(ts) || (now - ts) > ttlMs) delete db.seen[k];\n}\nconst key = ($json.chatId || 'chat') + ':' + ($json.messageId || $json.updateId || $json.raw || 'unknown');\nconst seenAt = db.seen[key];\nif (seenAt && (now - seenAt) < ttlMs) {\n  return [{ json: { ...$json, isDuplicate: true, dedupeKey: key } }];\n}\ndb.seen[key] = now;\nreturn [{ json: { ...$json, isDuplicate: false, dedupeKey: key } }];"
      }
    },
    {
      "id": "if-command-duplicate",
      "name": "If duplicate command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        660,
        -120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "if-status",
      "name": "If /status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/status",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-status",
      "name": "GET /status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -320
      ],
      "parameters": {
        "method": "GET",
        "url": "http://host.containers.internal:3000/status",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "fmt-status",
      "name": "Format /status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -320
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "text",
              "type": "string",
              "value": "=✅ *Pipeline status*\\n```json\\n{{ JSON.stringify($json, null, 2) }}\\n```"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if-help",
      "name": "If /help",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1100,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/help",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "set-help",
      "name": "Set /help",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        -160
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"📋 *AIPipeline Bot — команды*\\n\\n/status — статус пайплайна\\n/help — список команд\\n/tasks — мои открытые задачи (Linear)\\n/errors — top-5 ошибок (Sentry)\\n/search <query> — поиск в Notion\\n/create <title> — создать задачу в Linear\\n/deploy <staging|production> — запуск GitHub workflow\\n/standup — краткий дайджест по задачам\"}",
        "options": {}
      }
    },
    {
      "id": "if-tasks",
      "name": "If /tasks",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1320,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/tasks",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "linear-tasks",
      "name": "Linear: Get issues for /tasks",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1,
      "position": [
        1540,
        -320
      ],
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "linearApi": {
          "id": "SPM4RCmtiiJxQxSv",
          "name": "AIPipeline Linear"
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "fmt-tasks",
      "name": "Format /tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -320
      ],
      "parameters": {
        "jsCode": "const username = $('Extract command').first().json.username || '';\nconst rows = $input.all().map(i => i.json || {});\nconst err = rows.find(r => r.error)?.error || null;\nif (err) {\n  const status = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\n  const body = err.responseBody ?? err.body ?? err.data ?? '';\n  const detail = (typeof err.message === 'string' && err.message)\n    || (typeof err.description === 'string' && err.description)\n    || (typeof body === 'string' ? body : JSON.stringify(body))\n    || JSON.stringify(err);\n  const msg = String(detail).slice(0, 260);\n  const rateLimited = status === 429 || /429|rate\\s*limit|too many requests/i.test(String(status) + ' ' + msg);\n  return [{ json: { text: '⚠️ /tasks failed' + (rateLimited ? ' (rate-limited)' : '') + ': ' + msg } }];\n}\nconst items = rows;\nconst filtered = items.filter(i => {\n  const state = (i.state?.name || '').toLowerCase();\n  if (['done', 'cancelled', 'canceled'].includes(state)) return false;\n  if (!username) return true;\n  const assignee = (i.assignee?.displayName || i.assignee?.name || i.assignee?.email || '').toLowerCase();\n  return assignee.includes(username.toLowerCase());\n});\nconst top = filtered.slice(0, 7);\nconst lines = top.map(i => '• ' + (i.identifier || 'N/A') + ' — ' + i.title + ' [' + (i.state?.name || 'N/A') + ']');\nconst suffix = filtered.length > top.length ? ('\\n… and ' + (filtered.length - top.length) + ' more') : '';\nconst text = top.length\n  ? ('🧩 *Open tasks*' + (username ? (' for @' + username) : '') + '\\n' + lines.join('\\n') + suffix)\n  : ('🧩 No open tasks' + (username ? (' for @' + username) : '') + '.');\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "if-errors",
      "name": "If /errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/errors",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-errors-config",
      "name": "If Sentry env configured",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $env.SENTRY_AUTH_TOKEN || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $env.SENTRY_ORG_SLUG || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $env.SENTRY_PROJECT_SLUG || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-errors",
      "name": "Sentry: recent issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        -160
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://sentry.io/api/0/projects/' + $env.SENTRY_ORG_SLUG + '/' + $env.SENTRY_PROJECT_SLUG + '/issues/?limit=5&query=is:unresolved' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SENTRY_AUTH_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000
    },
    {
      "id": "fmt-errors",
      "name": "Format /errors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -160
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json || {});\nlet errors = [];\nlet apiError = '';\nlet apiStatus = 0;\nfor (const it of items) {\n  if (Array.isArray(it)) errors.push(...it);\n  else if (Array.isArray(it.data)) errors.push(...it.data);\n  else if (it.error) {\n    const err = it.error;\n    apiStatus = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\n    const body = err.responseBody ?? err.body ?? err.data ?? '';\n    apiError = (typeof err.message === 'string' && err.message)\n      || (typeof err.description === 'string' && err.description)\n      || (typeof body === 'string' ? body : JSON.stringify(body))\n      || 'Sentry request failed';\n  } else if (it.message && !Array.isArray(it.results)) {\n    apiError = String(it.message);\n  }\n}\nconst top = errors.slice(0, 5);\nconst lines = top.map(i => '• [' + (i.level || 'n/a') + '] ' + (i.title || 'Untitled') + '\\n  ' + (i.permalink || i.shortId || ''));\nlet text = top.length ? ('🚨 *Sentry top issues*\\n' + lines.join('\\n')) : '🚨 No unresolved Sentry issues.';\nif (apiError) {\n  const rateLimited = apiStatus === 429 || /429|rate\\s*limit|too many requests/i.test(String(apiStatus) + ' ' + apiError);\n  text += '\\n\\n⚠️ ' + (rateLimited ? 'Sentry API rate-limited: ' : '') + String(apiError).slice(0, 260);\n}\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "set-errors-missing-config",
      "name": "Set /errors config missing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        0
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"⚠️ /errors requires SENTRY_AUTH_TOKEN, SENTRY_ORG_SLUG, SENTRY_PROJECT_SLUG in n8n env.\"}",
        "options": {}
      }
    },
    {
      "id": "if-search",
      "name": "If /search",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1760,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/search",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-search-query",
      "name": "If /search has query",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1980,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.args || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-notion-search",
      "name": "Notion: search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        40
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.NOTION_TOKEN }}"
            },
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { query: $('Extract command').first().json.args, page_size: 5 } }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "fmt-search",
      "name": "Format /search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        40
      ],
      "parameters": {
        "jsCode": "if ($json.error) {\n  const err = $json.error;\n  const status = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\n  const body = err.responseBody ?? err.body ?? err.data ?? '';\n  const detail = (typeof err.message === 'string' && err.message)\n    || (typeof err.description === 'string' && err.description)\n    || (typeof body === 'string' ? body : JSON.stringify(body))\n    || JSON.stringify(err);\n  const msg = String(detail).slice(0, 260);\n  const rateLimited = status === 429 || /429|rate\\s*limit|too many requests/i.test(String(status) + ' ' + msg);\n  return [{ json: { text: '⚠️ /search failed' + (rateLimited ? ' (rate-limited)' : '') + ': ' + msg } }];\n}\nconst rows = ($json.results || []).slice(0, 5);\nconst titleOf = (r) => {\n  const p = r.properties || {};\n  for (const key of Object.keys(p)) {\n    if (p[key]?.type === 'title') {\n      return (p[key].title || []).map(t => t.plain_text).join('') || '(untitled)';\n    }\n  }\n  if (r.title && Array.isArray(r.title)) return r.title.map(t => t.plain_text).join('') || '(untitled)';\n  return '(untitled)';\n};\nconst lines = rows.map(r => '• ' + titleOf(r) + '\\n  ' + (r.url || ''));\nreturn [{ json: { text: lines.length ? ('🔎 *Notion search*\\n' + lines.join('\\n')) : '🔎 No Notion results.' } }];"
      }
    },
    {
      "id": "set-search-usage",
      "name": "Set /search usage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        200
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"Usage: /search <query>\"}",
        "options": {}
      }
    },
    {
      "id": "if-create",
      "name": "If /create",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1980,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/create",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-create-title",
      "name": "If /create has title",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2200,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.args || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-linear-team",
      "name": "If LINEAR_TEAM_ID set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2420,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $env.LINEAR_TEAM_ID || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "linear-create",
      "name": "Linear: Create issue",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1,
      "position": [
        2640,
        160
      ],
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "title": "={{ $('Extract command').first().json.args }}",
        "description": "=Created from Telegram /create by @{{ $('Extract command').first().json.username || 'unknown' }}",
        "teamId": "={{ $env.LINEAR_TEAM_ID }}"
      },
      "credentials": {
        "linearApi": {
          "id": "SPM4RCmtiiJxQxSv",
          "name": "AIPipeline Linear"
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "fmt-create",
      "name": "Format /create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        160
      ],
      "parameters": {
        "jsCode": "if ($json.error) {\n  const err = $json.error;\n  const status = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\n  const body = err.responseBody ?? err.body ?? err.data ?? '';\n  const detail = (typeof err.message === 'string' && err.message)\n    || (typeof err.description === 'string' && err.description)\n    || (typeof body === 'string' ? body : JSON.stringify(body))\n    || JSON.stringify(err);\n  const msg = String(detail).slice(0, 260);\n  const rateLimited = status === 429 || /429|rate\\s*limit|too many requests/i.test(String(status) + ' ' + msg);\n  return [{ json: { text: '⚠️ /create failed' + (rateLimited ? ' (rate-limited)' : '') + ': ' + msg } }];\n}\nconst issue = $json;\nconst ident = issue.identifier || issue.id || 'N/A';\nconst url = issue.url || issue.permalink || '';\nreturn [{ json: { text: '✅ Created Linear issue: ' + ident + '\\n' + url } }];"
      }
    },
    {
      "id": "set-create-missing-team",
      "name": "Set /create config missing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        320
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"⚠️ /create requires LINEAR_TEAM_ID in n8n env.\"}",
        "options": {}
      }
    },
    {
      "id": "set-create-usage",
      "name": "Set /create usage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        400
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"Usage: /create <title>\"}",
        "options": {}
      }
    },
    {
      "id": "if-deploy",
      "name": "If /deploy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2200,
        560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/deploy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "prepare-deploy",
      "name": "Prepare deploy payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        560
      ],
      "parameters": {
        "jsCode": "const envArg = (($('Extract command').first().json.args || '').trim().toLowerCase() || 'staging');\nif (!['staging', 'production'].includes(envArg)) {\n  return [{ json: { valid: false, text: 'Usage: /deploy <staging|production>' } }];\n}\nif (!$env.GITHUB_PERSONAL_ACCESS_TOKEN) {\n  return [{ json: { valid: false, text: '⚠️ /deploy requires GITHUB_PERSONAL_ACCESS_TOKEN in n8n env.' } }];\n}\nconst workflow = envArg === 'production'\n  ? ($env.GITHUB_WORKFLOW_PRODUCTION || 'deploy-production.yml')\n  : ($env.GITHUB_WORKFLOW_STAGING || 'deploy-staging.yml');\nconst ref = envArg === 'production'\n  ? ($env.GITHUB_REF_PRODUCTION || 'main')\n  : ($env.GITHUB_REF_STAGING || 'main');\nreturn [{ json: { valid: true, env: envArg, workflow, ref } }];"
      }
    },
    {
      "id": "if-deploy-valid",
      "name": "If deploy payload valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2640,
        560
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-deploy",
      "name": "GitHub: dispatch workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        480
      ],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.github.com/repos/' + ($env.GITHUB_OWNER || 'iurii-izman') + '/' + ($env.GITHUB_REPO || 'AIPipeline') + '/actions/workflows/' + $json.workflow + '/dispatches' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.GITHUB_PERSONAL_ACCESS_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ref: $json.ref } }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000
    },
    {
      "id": "set-deploy-ok",
      "name": "Set /deploy ok",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        480
      ],
      "parameters": {
        "jsCode": "const p = $('Prepare deploy payload').first().json;\nconst err = $json.error || null;\nif (!err) {\n  return [{ json: { text: '🚀 Deploy dispatched: *' + p.env + '*\\\\nWorkflow: ' + p.workflow + '\\\\nRef: ' + p.ref } }];\n}\nconst status = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\nconst body = err.responseBody ?? err.body ?? err.data ?? '';\nconst detail = (typeof err.message === 'string' && err.message)\n  || (typeof err.description === 'string' && err.description)\n  || (typeof body === 'string' ? body : JSON.stringify(body))\n  || JSON.stringify(err);\nconst msg = String(detail).slice(0, 260);\nconst rateLimited = status === 429 || /429|rate\\s*limit|too many requests/i.test(String(status) + ' ' + msg);\nreturn [{ json: { text: '⚠️ Deploy failed for *' + p.env + '*\\\\nWorkflow: ' + p.workflow + '\\\\nRef: ' + p.ref + '\\\\n' + (rateLimited ? '(rate-limited) ' : '') + msg } }];"
      }
    },
    {
      "id": "set-deploy-usage",
      "name": "Set /deploy usage",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2860,
        640
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "name": "text",
              "type": "string",
              "value": "={{ $json.text || 'Usage: /deploy <staging|production>' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "if-standup",
      "name": "If /standup",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2420,
        760
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.command }}",
              "rightValue": "/standup",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "linear-standup",
      "name": "Linear: Get issues for /standup",
      "type": "n8n-nodes-base.linear",
      "typeVersion": 1,
      "position": [
        2640,
        760
      ],
      "parameters": {
        "resource": "issue",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "linearApi": {
          "id": "SPM4RCmtiiJxQxSv",
          "name": "AIPipeline Linear"
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "fmt-standup",
      "name": "Format /standup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        760
      ],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json || {});\nconst err = rows.find(r => r.error)?.error || null;\nif (err) {\n  const status = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\n  const body = err.responseBody ?? err.body ?? err.data ?? '';\n  const detail = (typeof err.message === 'string' && err.message)\n    || (typeof err.description === 'string' && err.description)\n    || (typeof body === 'string' ? body : JSON.stringify(body))\n    || JSON.stringify(err);\n  const msg = String(detail).slice(0, 260);\n  const rateLimited = status === 429 || /429|rate\\s*limit|too many requests/i.test(String(status) + ' ' + msg);\n  return [{ json: { text: '⚠️ /standup failed' + (rateLimited ? ' (rate-limited)' : '') + ': ' + msg } }];\n}\nconst buckets = new Map();\nfor (const it of rows) {\n  const key = it.state?.name || 'Other';\n  buckets.set(key, (buckets.get(key) || 0) + 1);\n}\nconst lines = [...buckets.entries()].map(([k,v]) => '• ' + k + ': ' + v);\nconst text = '📝 *Standup digest*\\nDate: ' + new Date().toISOString().slice(0,10) + '\\n' + (lines.join('\\n') || 'No issues');\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "set-unknown",
      "name": "Set unknown command",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        920
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"Unknown command. Use /help.\"}",
        "options": {}
      }
    },
    {
      "id": "telegram-send",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3320,
        320
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.text || JSON.stringify($json, null, 2) }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "CumMgGtm8MpeMfxm",
          "name": "AIPipeline Telegram"
        }
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "assess-telegram-send",
      "name": "Assess Telegram command delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3540,
        320
      ],
      "parameters": {
        "jsCode": "const err = $json.error || null;\nif (!err) return [{ json: { telegramFailed: false } }];\nconst status = Number(err.statusCode ?? err.status ?? err.httpCode ?? err.code ?? 0);\nconst body = err.responseBody ?? err.body ?? err.data ?? '';\nconst detail = (typeof err.message === 'string' && err.message)\n  || (typeof err.description === 'string' && err.description)\n  || (typeof body === 'string' ? body : JSON.stringify(body))\n  || JSON.stringify(err);\nconst msg = String(detail).slice(0, 320);\nconst rateLimited = status === 429 || /429|rate\\s*limit|too many requests/i.test(String(status) + ' ' + msg);\nreturn [{ json: { telegramFailed: true, rateLimited, reason: msg } }];"
      }
    },
    {
      "id": "if-telegram-send-failed",
      "name": "If Telegram command delivery failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3760,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.telegramFailed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dlq-park-wf5-telegram",
      "name": "DLQ: park WF-5 Telegram failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        320
      ],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/wf-dlq-park",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { sourceWorkflow: 'WF-5', failureType: 'telegram_send_failed', reason: $('Assess Telegram command delivery').first().json.reason || 'unknown error', rateLimited: $('Assess Telegram command delivery').first().json.rateLimited || false, context: $('Extract command').first().json } }}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract command": {
      "main": [
        [
          {
            "node": "Deduplicate command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate command": {
      "main": [
        [
          {
            "node": "If duplicate command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If duplicate command": {
      "main": [
        [],
        [
          {
            "node": "If /status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /status": {
      "main": [
        [
          {
            "node": "GET /status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /status": {
      "main": [
        [
          {
            "node": "Format /status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format /status": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /help": {
      "main": [
        [
          {
            "node": "Set /help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /help": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /tasks": {
      "main": [
        [
          {
            "node": "Linear: Get issues for /tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linear: Get issues for /tasks": {
      "main": [
        [
          {
            "node": "Format /tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format /tasks": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /errors": {
      "main": [
        [
          {
            "node": "If Sentry env configured",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Sentry env configured": {
      "main": [
        [
          {
            "node": "Sentry: recent issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set /errors config missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentry: recent issues": {
      "main": [
        [
          {
            "node": "Format /errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format /errors": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /errors config missing": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /search": {
      "main": [
        [
          {
            "node": "If /search has query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /search has query": {
      "main": [
        [
          {
            "node": "Notion: search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set /search usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: search": {
      "main": [
        [
          {
            "node": "Format /search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format /search": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /search usage": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /create": {
      "main": [
        [
          {
            "node": "If /create has title",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /create has title": {
      "main": [
        [
          {
            "node": "If LINEAR_TEAM_ID set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set /create usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If LINEAR_TEAM_ID set": {
      "main": [
        [
          {
            "node": "Linear: Create issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set /create config missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linear: Create issue": {
      "main": [
        [
          {
            "node": "Format /create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format /create": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /create config missing": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /create usage": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /deploy": {
      "main": [
        [
          {
            "node": "Prepare deploy payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If /standup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare deploy payload": {
      "main": [
        [
          {
            "node": "If deploy payload valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If deploy payload valid": {
      "main": [
        [
          {
            "node": "GitHub: dispatch workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set /deploy usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: dispatch workflow": {
      "main": [
        [
          {
            "node": "Set /deploy ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /deploy ok": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set /deploy usage": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If /standup": {
      "main": [
        [
          {
            "node": "Linear: Get issues for /standup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set unknown command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linear: Get issues for /standup": {
      "main": [
        [
          {
            "node": "Format /standup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format /standup": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set unknown command": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send": {
      "main": [
        [
          {
            "node": "Assess Telegram command delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Telegram command delivery": {
      "main": [
        [
          {
            "node": "If Telegram command delivery failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Telegram command delivery failed": {
      "main": [
        [
          {
            "node": "DLQ: park WF-5 Telegram failure",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
