docs/n8n-workflows/wf-6-notion-reminder.json
{
  "name": "WF-6: Notion → NotebookLM reminder (AIPipeline)",
  "active": true,
  "nodes": [
    {
      "id": "schedule-wf6",
      "name": "Every Monday 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "if-notion-token",
      "name": "If NOTION_TOKEN set",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        220,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $env.NOTION_TOKEN || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "notion-search-recent",
      "name": "Notion: search recent pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.NOTION_TOKEN }}"
            },
            {
              "name": "Notion-Version",
              "value": "2025-09-03"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { page_size: 20, sort: { direction: 'descending', timestamp: 'last_edited_time' }, filter: { value: 'page', property: 'object' } } }}",
        "options": {}
      }
    },
    {
      "id": "build-reminder",
      "name": "Build reminder message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -120
      ],
      "parameters": {
        "jsCode": "const weekAgo = Date.now() - 7 * 24 * 60 * 60 * 1000;\nconst rows = ($json.results || []).filter(r => {\n  const t = Date.parse(r.last_edited_time || '');\n  return Number.isFinite(t) && t >= weekAgo;\n});\nconst top = rows.slice(0, 5);\nconst titles = top.map(r => {\n  const p = r.properties || {};\n  for (const k of Object.keys(p)) {\n    if (p[k]?.type === 'title') {\n      const tt = (p[k].title || []).map(x => x.plain_text).join('');\n      return tt || '(untitled)';\n    }\n  }\n  return '(untitled)';\n});\nconst list = titles.map((t, i) => (i + 1) + '. ' + t).join('\\n');\nconst text = top.length\n  ? '📚 Updated Notion pages this week (' + top.length + ')\\n' + list + '\\n\\nResync NotebookLM sources.'\n  : '';\nreturn [{ json: { hasUpdates: top.length > 0, text } }];"
      }
    },
    {
      "id": "if-has-updates",
      "name": "If updates exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        -120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasUpdates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "telegram-wf6",
      "name": "Telegram: send reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        -120
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || 'YOUR_CHAT_ID' }}",
        "text": "={{ $json.text }}"
      },
      "credentials": {
        "telegramApi": {
          "id": "CumMgGtm8MpeMfxm",
          "name": "AIPipeline Telegram"
        }
      }
    },
    {
      "id": "set-no-notion-token",
      "name": "Set no Notion token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        120
      ],
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"text\":\"WF-6 skipped: NOTION_TOKEN is not configured in n8n env.\"}"
      }
    }
  ],
  "connections": {
    "Every Monday 10:00": {
      "main": [
        [
          {
            "node": "If NOTION_TOKEN set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If NOTION_TOKEN set": {
      "main": [
        [
          {
            "node": "Notion: search recent pages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set no Notion token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: search recent pages": {
      "main": [
        [
          {
            "node": "Build reminder message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build reminder message": {
      "main": [
        [
          {
            "node": "If updates exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If updates exist": {
      "main": [
        [
          {
            "node": "Telegram: send reminder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
